**/*.DS_Store*
**/*.env*
**/*.pem*
**/*.turbo*
**/*test*
**/.astro
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
!**/*env.example*
.pnp
.pnp.js
build
dist
docs/src/content/docs/api
node_modules
npm-debug.log*
out
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*