**/*test*
**/*.DS_Store*
**/*.env*
**/*.pem*
.astro
.pnp
.pnp.js
.turbo
build
dist
docs/src/content/docs/api
node_modules
npm-debug.log*
out
pnpm-debug.log*
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*